In [26]:
import pandas as pd #untuk pengolahan dan analisis data
import numpy as np #untuk operasi matematika
from matplotlib import pyplot as plt #untuk visualisasi data
import seaborn as sns #untuk interface graf

In [25]:
data = pd.read_csv('SeoulBikeData.csv', encoding = 'unicode_escape') #baca data

In [27]:
#5 data pertama
data.head()

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

# EDA

<h2>Cek Data</h2>

In [28]:
print("Cek duplikasi nilai pada data:",len(data[data.duplicated()]))

Cek duplikasi nilai pada data: 0

In [37]:
def datainfo():
    df_info = pd.DataFrame(index=data.columns)
    df_info['Tipe_Data'] = data.dtypes
    df_info['Data_Null'] = data.isnull().sum()
    return df_info

# Bentuk data.
print("Baris dan kolom data :",df.shape,"\n") 
# Tampilkan info data
datainfo()

Baris dan kolom data : (8760, 14)

                          Tipe_Data  Data_Null
Date                         object          0
Rented Bike Count             int64          0
Hour                          int64          0
Temperature(°C)             float64          0
Humidity(%)                   int64          0
Wind speed (m/s)            float64          0
Visibility (10m)              int64          0
Dew point temperature(°C)   float64          0
Solar Radiation (MJ/m2)     float64          0
Rainfall(mm)                float64          0
Snowfall (cm)               float64          0
Seasons                      object          0
Holiday                      object          0
Functioning Day              object          0

In [35]:
data.describe() #informasi dari data numerical

,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm)
count,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000
mean,704.602055,11.500000,12.882922,58.226256,1.724909,1436.825799,4.073813,0.569111,0.148687,0.075068
std,644.997468,6.922582,11.944825,20.362413,1.036300,608.298712,13.060369,0.868746,1.128193,0.436746
min,0.000000,0.000000,-17.800000,0.000000,0.000000,27.000000,-30.600000,0.000000,0.000000,0.000000
25%,191.000000,5.750000,3.500000,42.000000,0.900000,940.000000,-4.700000,0.000000,0.000000,0.000000
50%,504.500000,11.500000,13.700000,57.000000,1.500000,1698.000000,5.100000,0.010000,0.000000,0.000000
75%,1065.250000,17.250000,22.500000,74.000000,2.300000,2000.000000,14.800000,0.930000,0.000000,0.000000
max,3556.000000,23.000000,39.400000,98.000000,7.400000,2000.000000,27.200000,3.520000,35.000000,8.800000