In [26]:
import pandas as pd #untuk pengolahan dan analisis data
import numpy as np #untuk operasi matematika
from matplotlib import pyplot as plt #untuk visualisasi data
import seaborn as sns #untuk interface graf

In [25]:
data = pd.read_csv('SeoulBikeData.csv', encoding = 'unicode_escape') #baca data

In [27]:
#5 data pertama
data.head()

,Date,Rented Bike Count,Hour,Temperature(°C),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(°C),Solar Radiation (MJ/m2),Rainfall(mm),Snowfall (cm),Seasons,Holiday,Functioning Day
0,01/12/2017,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
1,01/12/2017,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
2,01/12/2017,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,0.0,Winter,No Holiday,Yes
3,01/12/2017,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,0.0,Winter,No Holiday,Yes
4,01/12/2017,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,0.0,Winter,No Holiday,Yes

# EDA

In [28]:
print("Cek duplikasi nilai pada data:",len(data[data.duplicated()]))

Cek duplikasi nilai pada data: 0

In [22]:
def datainfo():
    df_info = pd.DataFrame(index=data.columns)
    df_info['Tipe_Data'] = data.dtypes
    df_info['Data_Null'] = data.isnull().sum()
    return df_info

In [23]:
# Shape of the data.
print("Total Rows and Columns in DataFrame is :",df.shape,"\n") 
# Custom Function
datainfo()

Total Rows and Columns in DataFrame is : (8760, 14)

,DataType,Non-null_Values,Unique_Values,NaN_Values,NaN_Values_Percentage
Date,object,8760,365,0,0.0
Rented Bike Count,int64,8760,2166,0,0.0
Hour,int64,8760,24,0,0.0
Temperature(°C),float64,8760,546,0,0.0
Humidity(%),int64,8760,90,0,0.0
Wind speed (m/s),float64,8760,65,0,0.0
Visibility (10m),int64,8760,1789,0,0.0
Dew point temperature(°C),float64,8760,556,0,0.0
Solar Radiation (MJ/m2),float64,8760,345,0,0.0
Rainfall(mm),float64,8760,61,0,0.0
Snowfall (cm),float64,8760,51,0,0.0
Seasons,object,8760,4,0,0.0
Holiday,object,8760,2,0,0.0
Functioning Day,object,8760,2,0,0.0